<?xml version="1.0"?>
<!--
/**
 * @category   Prestafy
 * @package    Prestafy_FedexExtended
 * @author     Andresa Martins <contact@andresa.dev>
 * @copyright  Copyright (c) 2020 Prestafy eCommerce Solutions (https://www.prestafy.com.br)
 * @license    https://prestafy.com.br/licenses/free-for-use PRESTAFY FREE FOR USE
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Fedex\Model\Carrier" type="Prestafy\FedexExtended\Model\Carrier"/>
    <preference for="Magento\Quote\Model\Quote\Address\FreeShippingInterface" type="Prestafy\FedexExtended\Model\Quote\Address\FreeShipping" />
    <type name="Magento\Quote\Model\Cart\ShippingMethodConverter">
        <plugin name="add_shipping_rate_delivery_date" type="Prestafy\FedexExtended\Plugin\Carrier\DeliveryDate" disabled="false" sortOrder="1"/>
    </type>
    <type name="Magento\Quote\Model\Quote\Address\Rate">
        <plugin name="add_shipping_method_delivery_date" type="Prestafy\FedexExtended\Plugin\Quote\Address\Rate" disabled="false" sortOrder="2"/>
    </type>
</config>
